.mod_booking_check_availability button#checkAvailability {
	display: block;
	margin: 0 auto;
	border: 1px solid #d09f34;
	padding: 7px 10px 9px;
	background-color: #bf9230;
    background-position: 0 0;    
	font-size: 15px;
	color: #fff;
}
.mod_booking_check_availability .field {
	position: relative;
	margin: 0 0 12px;
}
.mod_booking_check_availability .field .btn {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 19px;
	height: 21px;
	margin: 0;
	border: 0 none;
	padding: 0;
	background-color: transparent;
}
.mod_booking_check_availability .field button::-moz-focus-inner { 
    padding: 0; 
    border: none 
} 
.mod_booking_check_availability .field .btn i.icon-calendar {
	display: block;
	width: 19px;
	height: 21px;
	background: url('../images/icon-calendar.png') center center no-repeat;
}
.mod_booking_check_availability input.input-small {
	box-sizing: border-box;
	width: 100%;
	height: 25px;
	margin: 0;
	border: 1px solid #ba8827;
	padding: 1px 25px 1px 5px;
}
/* STYLES for Calendar */
div.calendar {
	width: 198px;
	max-width: 198px;
}
div.calendar table thead .title {
	background-color: #bf9230;
}
div.calendar table thead tr.headrow td:first-child,
div.calendar table thead tr.headrow td:last-child {
	visibility: hidden;
}
div.calendar table tbody tr td {
	background-color: #bf9230;
	color: #fff;
}
div.calendar table tbody tr td.weekend {
	color: #fff;
}
div.calendar table tbody tr td.disabled {
	background-color: transparent;
	color: #999;
	cursor: auto;
}
div.calendar table tbody tr td.wn {
	background-color: #dddddd;
}
div.calendar table tbody tr td.selected {
	background-color: #bf9230;
}
div.calendar table tbody tr td.hilite {
	background-color: #bf9230;
	color: #333;
	cursor: pointer;
}