ul.mod_booking_items li {
  border-bottom: 1px solid #DDDDDD;
  list-style: none outside none;
  padding: 5px 0 10px;
}
ul.mod_booking_items li div.item {
  float: left;
}
ul.mod_booking_items li div.col1 {
  width: 100%;
}
ul.mod_booking_items li div.col2 {
  width: 45%;
}
ul.mod_booking_items li div.col3 {
  width: 28%;
}
ul.mod_booking_items li img {
  float: left;
  margin: 5px 5px 5px 0;
}
ul.mod_booking_items li p {
  margin: 5px 0 0;
}
ul.mod_booking_items li strong {
  clear: both;
  display: block;
  float: left;
  padding: 6px 0 0;
}
ul.mod_booking_items li input.button {
  float: right;
}
ul.mod_booking_items li div.wrap {
  clear: both;
}