.noprint {
	display: none;
}

#adminForm * {
	background-color: inherit;
	color: inherit;
}

#adminForm table.adminlist td,#adminForm table.adminlist th {
	border: 1px solid #000000;
	border-collapse: collapse;
}

a[href]:after, a[title]:after {
	content: none !important;
}