form#fields div#toolbar {
	padding: 0 0 10px;
}

form#fields div#toolbar button {
	
}

form#fields table {
	border: 1px solid silver;
	border-collapse: collapse;
	width: 100%;
}

form#fields table tbody {
	
}

form#fields table tbody tr {
	
}

form#fields table tbody tr th {
	background-color: #D2D2D2;
	border: 1px solid silver;
	padding: 5px;
}

form#fields table tbody tr th.checkbox {
	width: 1%;
}

form#fields table tbody tr th.name {
	
}

form#fields table tbody tr th.required {
	width: 35%;
}

form#fields table tbody tr td {
	border: 1px solid silver;
	padding: 5px;
}